:root {
  /*Colores*/
  --paleta-uno: white;
  --paleta-dos: black;
  /*Tipografia*/
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*Contenedor Padre*/
.contenedor {
  display: flex;
  width: 100%;
  height: 100vh;
}

/*Barra Lateral (Contenedor Hijo 1)*/
.barra__lateral {
  display: flex;
  flex-direction: column;
  background: #1a3968;
  cursor: pointer;
}

.barra__lateral h1 {
  display: none;
  color: white;
}

.barra__lateral_abierta {
  display: flex;
}

.barra__lateral_abierta h1 {
  display: flex;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

/*Cabecera Barra Lateral*/
.barra__lateral_titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.9vw;
}

.barra__lateral_titulo h1 {
  margin-right: 8vw;
}

.icono {
  width: 1.5vw;
  height: 1.5vw;
  color: white;
}
.iconomenu{
  width: 2vw;
  height: 2vw;
  color: white;
}

/*Cuerpo Barra Lateral*/
.boton {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1vw;
}

.boton h1 {
  margin-right: 1vw;
  margin-left: 1vw;
}

.boton:hover {
  background: lightskyblue;
  transition: all 0.5s;
}

.activo {
  background: lightskyblue;
}

/*Diseño de Menu Principal (Contenedor Hijo 2)*/
.principal {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/*Cabecera (Principal Hijo 1)*/
.cabecera {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1a3968;
  height: fit-content;

}

/*Perfil (Cabecera Hijo 1)*/
.perfil {
  display: flex;
  margin-right: 7vw;
  align-items: center;
  text-align: center;
  padding: 0.75vw;
}

.perfil img {
  width: 2vw;
  height: 2vw;
}

.perfil h1 {
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 1vw;
  color: white;
}

/*Cuerpo (Principal Hijo 2)*/
.cuerpo {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  text-align: center;
  background-color: white;
}

/*Contenido (Cuerpo Hijo 1)*/
.contenido {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.37);
  margin: 0vw 3vw 0 3vw;
  border-radius: 3rem;
  margin-top: 1.5vw;

}
.contenido__fondo{
  display: flex;
  position: relative;
  flex-grow: 1;
}

.contenido__fondo::before {
  content: "";
  background-image: url('./estilos/img/itilogo.png');
  position: absolute;
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  inset: 0;
  opacity: .2;
  

}

.contenido__texto{
  display: flex;
  flex-grow: .1;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
}
.contenido__texto h1{
  font-size: 1.5vw;
  /*text-transform: uppercase;*/
}
.contenido__texto h2 {
  font-size: 1.3vw;
  /*text-transform: uppercase;*/
}




/*Pie de Pagina (Principal Hijo 3)*/
.pie-pagina {
  display: flex;
  flex-grow: .1;
  align-items: center;
  justify-content: space-around;
}

/*creditos (Pie de pagina Hijo 1)*/
.creditos {
  display: flex;
  align-items: center;
}

.creditos img {
  width: 3vw;
  height: 3vw;
}

.creditos span {
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 1vw;
}

/*Estilo de rutas*/

/*AlumnosResidentesAsign.jsx*/
.contenido__Alumnos_residentes {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.37);
  margin: 0vw 3vw 0 3vw;
  border-radius: 3rem;
  margin-top: 1.5vw;

}


.contenido__Alumnos_residentes img {
  width: 3vw;
  height: 3vw;
}

.contenido__Alumnos_residentes h2 {
  margin-top: 2vw;
  font-size: 1.5vw;
  /*text-transform: uppercase;*/
}

.tablita {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-height: 65vh;
  /* Permitirá que .tablita ocupe el espacio vertical en .caja */
  overflow: auto;
  /* Agrega scroll si el contenido excede el espacio */
}
.tablita{
  position: relative;
  flex-grow: 1;
}
.tablita::before {
  content: "";
  background-image: url('./estilos/img/itilogo.png');
  position: absolute;
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  inset: 0;
  opacity: .2;
  z-index: -1;
}


.tablita table {
  width: 100%;
  height: fit-content;
  text-align: center;
  border-collapse: collapse;
}

.tablita thead tr th {
  position: sticky;
  top: 0;
  background-color: #1a3968;
  /* Asegura que el encabezado se muestre correctamente sobre el fondo */
}

.contenido__Alumnos_residentes table {
  border: .2vw solid #1a3968;
  margin: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;


}

.contenido__Alumnos_residentes thead {
  background-color: #1a3968;
}

.contenido__Alumnos_residentes th {
  color: white;
  padding: 1vw;
  font-size: 1vw;
}

.contenido__Alumnos_residentes td {
  border: .2vw solid #1a3968;
  padding: .5vw;
}

.contenido__Alumnos_residentes tbody button {
  font-size: 1vw;
  background-color: #1a3968;
  margin: .2vw;
  cursor: pointer;
  color:white;
  border-radius: 0.9vw;
}

.contenido__Alumnos_residentes td {
  color: black;
  font-size: 1vw;
  font-weight: bold;
}


/*evaluacionreporte.jsx*/
.contenido__Evalucionreporteresidente {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.37);
  margin: 0 3vw 0 3vw;
  border-radius: 3rem;
  margin-top: 1.5vw;
}

.Evalucionreporteresidente__titulo {
  display: flex;
  flex-grow: .05;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Evalucionreporteresidente__titulo h1 {
  font-size: 1.5vw;
  /*text-transform: uppercase;*/
}

.Evalucionreporteresidente__titulo img {
  width: 3vw;
  height: 3vw;
}

.Evalucionreporteresidente__preguntas {
  display: flex;
  width: 100%;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  max-height: 70vh;
  align-items: center;
  /*max-height: 75vh;*/
  /* Establece una altura máxima relativa al viewport height */
  overflow-y: auto;
  /* Habilita el scroll vertical cuando sea necesario */
}

.contenido__preguntas {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}

.informacion__pregunta {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}
.informacion__pregunta span{
  font-size: 1vw;
  text-align: left;
  font-weight: bold;
  padding: 1vw;
}
.informacion__pregunta input{
  font-size: 1vw;
  font-weight: bold;
  border-radius: 1vw;
  border: solid black;
  width: 100%;
  outline: none;
  padding: 1vw;
  box-shadow: 0 0 1vw rgb(255, 255, 255);
  height: fit-content;
}




.informacion__tabla {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: min-content;
  align-items: center;
  justify-content: space-around;
  padding: 2vw;
}

.informacion__tabla table {
  border: .2vw solid #1a3968;
}

.informacion__tabla table thead {
  background-color: #1a3968;
  color: white;
  font-size: 1vw;
}
.informacion__tabla table thead  th {
  padding: 1vw;
}

.informacion__tabla tbody th {
  background-color: #1a3968;
  color: white;
  font-size: 1vw;
}

.informacion__tabla tbody td {
  color: black;
  font-size: 1vw;
  border: .2vw solid #1a3968;
  font-weight: bold;
  padding: .5vw;
  text-align: left;
}
.informacion__tabla select{
  width: 100%;
}

.observaciones{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2vw;
}
.observaciones .btn{
  color: white;
  background-color: #1a3968;
 margin-bottom: 2vw;
  
}

.observaciones span{
  font-size: 1vw;
  font-weight: bold;
  margin: 1vw;
}
.observaciones textarea {
  font-size: 1vw;
  font-weight: bold;
  margin: 1vw;
  margin: auto;
  margin-bottom: 1vw;
  width: 90%;
  max-width: 90%;
  max-height: 15vh;
  height: 15vh;
  color: black;
  resize: none;
}

.observaciones input {
  box-shadow: 0 0 1vw rgb(128, 128, 128);
  cursor: pointer;
  background: linear-gradient(90deg, rgba(13, 8, 96, 1)25%, rgba(9, 9, 121, 1)100%);
  text-transform: uppercase;
  color: white;
  font-size: 1vw;
  padding: 1vw;
  border-radius: 1rem;
  font-weight: bold;
  margin: 1vw;
  width: 90%;
  margin: auto;
  margin-bottom: auto;
}

  /* Anteproyecto subir */

  /* FILE UPLOAD */
  .dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 50vh;
    border: 3px solid rgb(117, 112, 112);
    font-size: 0.8vw;
    border-radius: 1vw;
    width: 75%;
  }
  
  .active {
    background-color: #5f5959;
  }
  
  button {
    padding: 1rem;
    margin: 3rem;
    font-size: medium;
    background-color: white;
  }
  .list-item {
    display: flex;
    padding: 0;
    margin: 8px 0;
    min-width: 100px;
    font-size: 22px;
    background-color: #d4d2d2;
    cursor: grab;
    border-radius: 10px;
  }
  
  .list-item > h3 {
    padding: 10px;
    margin: 0;
  }
  
  .list-item > span {
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    border-right: 2px solid white;
    padding: 10px;
    padding-right: 16px;
  }
  
  .next-position {
    border: 2px solid #34d44f;
    opacity: 0.2;
  }


  .contenido__seguimientoresidencia {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.37);
    margin: 0 3vw 0 3vw;
    border-radius: 3rem;
  }
  .Seguimientoresidencia_titulo {
    display: flex;
    flex-grow: .05;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .Seguimientoresidencia__preguntas {
    display: flex;
    width: 100%;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    max-height: 70vh;
    align-items: center;
    /*max-height: 75vh;*/
    /* Establece una altura máxima relativa al viewport height */
    overflow-y: auto;
    /* Habilita el scroll vertical cuando sea necesario */
  }

  /*Evaluaciones reporte*/
  .contenido__evaluaciones__reporte{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.37);
    margin: 0vw 3vw 0 3vw;
    border-radius: 3rem;
    margin-top: 1.5vw;
  }
  .contenido__evaluaciones__reporte img {
    width: 3vw;
    height: 3vw;
  }
  
  .contenido__evaluaciones__reporte h2 {
    margin-top: 2vw;
    font-size: 1.5vw;
    /*text-transform: uppercase;*/
  }
  .contenido__evaluaciones__reporte table {
    border: .2vw solid #1a3968;
    margin: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
  
  
  }
  
  .contenido__evaluaciones__reporte thead {
    background-color: #1a3968;
  }
  
  .contenido__evaluaciones__reporte th {
    color: white;
    padding: 1vw;
    font-size: 1vw;
  }
  
  .contenido__evaluaciones__reporte td {
    border: .2vw solid #1a3968;
    padding: .5vw;
  }
  
  .contenido__evaluaciones__reporte tbody button {
    font-size: 1vw;
    background-color: #1a3968;
    margin: .2vw;
    cursor: pointer;
    color:white;
    border-radius: 0.9vw;
  }
  
  .contenido__evaluaciones__reporte td {
    color: black;
    font-size: 1vw;
    font-weight: bold;
  }
  
    /*Evaluaciones Seguimiento*/
    .contenido__evaluaciones__seguimiento{
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      background-color: white;
      box-shadow: 0 0 2vw rgba(0, 0, 0, 0.37);
      margin: 0vw 3vw 0 3vw;
      border-radius: 3rem;
      margin-top: 1.5vw;
    }
    .contenido__evaluaciones__seguimiento img {
      width: 3vw;
      height: 3vw;
    }
    
    .contenido__evaluaciones__seguimiento h2 {
      margin-top: 2vw;
      font-size: 1.5vw;
      /*text-transform: uppercase;*/
    }
    .contenido__evaluaciones__seguimiento table {
      border: .2vw solid #1a3968;
      margin: 1vw;
      margin-left: 2vw;
      margin-right: 2vw;
    
    
    }
    
    .contenido__evaluaciones__seguimiento thead {
      background-color: #1a3968;
    }
    
    .contenido__evaluaciones__seguimiento th {
      color: white;
      padding: 1vw;
      font-size: 1vw;
    }
    
    .contenido__evaluaciones__seguimiento td {
      border: .2vw solid #1a3968;
      padding: .5vw;
    }
    
    .contenido__evaluaciones__seguimiento tbody button {
      font-size: 1vw;
      background-color: #1a3968;
      margin: .2vw;
      cursor: pointer;
      color:white;
      border-radius: 0.9vw;
    }
    
    .contenido__evaluaciones__seguimiento td {
      color: black;
      font-size: 1vw;
      font-weight: bold;
    }

    .btn-asig{
      font-size: 1vw;
      background-color: #1a3968;
      margin: 0.5vw auto;
      cursor: pointer;
      color:white;
      border-radius: 0.9vw;   
      padding: 1vw; 
    }

      .textarea{
          font-size: 1vw;
          font-weight: bold;
          margin: 1vw;
          margin: auto;
          margin-bottom: 1vw;
          width: 90%;
          max-width: 90%;
          max-height: 15vh;
          height: 15vh;
          color: black;
          resize: none;
      }
  
    /*Estudiante Anteproyectosubir*/
    .contenido__anteproyectosubir{
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      background-color: white;
      box-shadow: 0 0 2vw rgba(0, 0, 0, 0.37);
      margin: 0 3vw 0 3vw;
      border-radius: 3rem;
      margin-top: 1.5vw;
    }
    .Anteproyectosubir__titulo {
      display: flex;
      flex-grow: .05;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    
    .Anteproyectosubir__titulo h1 {
      font-size: 1.5vw;
      /*text-transform: uppercase;*/
    }
    
    .Anteproyectosubir__titulo img {
      width: 3vw;
      height: 3vw;
    }
    .Anteproyectosubir__preguntas {
      display: flex;
      width: 100%;
      /*flex-wrap: wrap;*/
      flex-direction: column;
      max-height: 70vh;
      align-items: center;
      /*max-height: 75vh;*/
      /* Establece una altura máxima relativa al viewport height */
      overflow-y: auto;
      /* Habilita el scroll vertical cuando sea necesario */
    }

    .subiranteproyecto__upload{
      border: solid black;
      border-radius: 1vw;
      padding: 3vw;
      background-color: #c7e0f8;
    }
    .subiranteproyecto__upload button{
      font-size: 1vw;
      background-color: #1a3968;
      margin: .2vw;
      cursor: pointer;
      color:white;
      border-radius: 0.9vw;
    }
    .subiranteproyecto__upload input{
      font-size: 1vw;
      margin: .2vw;
      cursor: pointer;
      color:black;
    }
    .informacion__tabla button{
      background-color: #1a3968;
      border-radius: 0.9vw;
      cursor: pointer;
      color: white;
      margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    }

 .informacion__tabla .btnsubir{
  display:inline-block; 
  /*flex-direction: row;*/
  font-size: 1vw;
  margin: 0.2vw 0.2vw 0.2vw 0.2vw;
  border-radius: 0.5vw;
  padding: 0.2vw;
}

.observaciones textarea{
  border-radius: 0.5vw;
  border: solid black;
}

.informacion__tabla .btnrec{
  display:inline-block; 
  /*flex-direction: row;*/
  font-size: 1vw;
  margin: 0.2vw 0.2vw 0.2vw 0.2vw;
  border-radius: 0.5vw;
  padding: 0.2vw;
  align-content: center;
  
}
.aprobado {
  background-color: green;
  color: white;
}

.en-revision {
  background-color: yellow;
 
}

.corregir {
  background-color: orange;
  
}

.rechazado {
  background-color: red;
  color: white;
  
}








