/* PageLayout.css */

.navbar {
    background-color: #007bff;
    color: #fff;
  }
  
  .header {
    text-align: center;
  }
  
  .cajaprincipal {
    max-width: 100%; /* Ancho máximo permitido */
    min-width: 300px; /* Ancho mínimo permitido */
    min-height: 300px; /* Alto mínimo permitido */
    /* Agrega algún espacio interno si es necesario */
    box-sizing: border-box;
   
  }

  .contenedorprincipal {
    max-width:  100%;
    background-image: url('https://istmo.tecnm.mx/wp-content/uploads/elementor/thumbs/Fachada-2021-scaled-pcbfus4ssbltve8llqtzkr0v52vybcsp9j8b12q07o.jpg'); /* Fondo verde */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    padding: 1; /* Espaciado interno */
    color: #fff; /* Color del texto */
    text-align: left; /* Alineación del texto */
    height: 90vh;
    flex-direction: column
  }
 

/* PageLayout.css */

.cajadatos {
    
    background-color: #ffffff; /* Fondo azul */
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin-right: 20px;
    margin-left: auto; /* Pegado a la derecha */
    padding: 20px; /* Ajusta el espaciado interno según sea necesario */
    max-width: 400px; /* Ancho máximo del recuadro */
    width: 100%; /* Hace que el recuadro sea adaptable */
    height: 50vh;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  }
  
  
  
  .text-fields input {
    margin-bottom: 10px; /* Espaciado inferior para los input */
    width: 70%; /* Ancho del 70% del contenedor */
    padding: 8px; /* Ajusta el espaciado interno del input según sea necesario */
    box-sizing: border-box; 
  }

  .blue-container {
    background-color:  #1B396A; /* Fondo verde */
    padding: 20px; /* Espaciado interno */
    color: #ffffff; /* Color del texto */
    text-align: center; /* Alineación del texto */
    height: 10vh; /* Altura del 100% de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  /* global.css */


  .custom-button {
    /* Agrega tus estilos personalizados aquí */
    background-color: #ff9900; /* Ejemplo de color de fondo */
    color: #ffffff; /* Ejemplo de color de texto */
    /* Agrega más estilos según sea necesario */
}
.logo-image {
    width: 20px; /* Ajusta el ancho de la imagen según sea necesario */
    margin-right: 10px; /* Ajusta el espaciado entre la imagen y el texto según sea necesario */
}
.navbar-brand-image {
 width: auto; /* Puedes ajustar esto según tus necesidades */
height: auto;
 
  }


  .barrasuperior {
    min-height: 1vh;
    -webkit-box-shadow: 5px 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    background-color: #1B396A;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 10vh;
}
.imagen-contenedor {
    width: 50%; /* Ajusta el ancho según sea necesario */
    height: 10vh; /* Mantiene la proporción de aspecto */
    border: 2px solid #333; /* Ejemplo de borde */
    border-radius: 8px; /* Ejemplo de bordes redondeados */
    /* Agrega más estilos según sea necesario */
  }

  